

/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700');
 body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #2B96CC;
	text-decoration: none;
}
a,
button {
	color: #1696e7;
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	color: #313131;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #7e7e7e;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid #f2f2f2
}
/* button style */
.btn {
	-moz-user-select: none;
	background: #1696e7 none repeat scroll 0 0;
	border: 1px solid #ddd;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	padding: 13px 25px;
	text-align: center;
	transition: all 0.3s ease 0s;
}
.fromn-btn {
	background: #fff;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	color: #664466;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1;
	padding: 16px 22px;
	text-align: center;
	transition: all 0.3s ease 0s;
	border-radius: 5px

}
.breadcrumb > .active {
	color: #888;
}
.owl-carousel .owl-nav div {
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	height: 40px;
	left: 20px;
	line-height: 40px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 40px;
}
.owl-carousel .owl-nav div.owl-next {
	left: auto;
	right: 20px;
}
.owl-carousel:hover .owl-nav div {
	opacity: 1;
	visibility: visible;
}
.owl-carousel .owl-nav div:hover {
	background: #2B96CC;
	color: #fff
}

/* scrollUp */
#scrollUp {
	background: #7DBA2F;
	height: 35px;
	width: 35px;
	right: 50px;
	bottom: 77px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 34px;
}
#scrollUp:hover {
	background: #444;
}



 /* Start Reference-from  */
 .Reference-from {
	padding-top: 20px;
}
.Reference-from h2 {
	display: inline-block;
	font-size: 35px;
	font-weight: 600;
}
.forom-headeing {
	margin-bottom: 35px;
}
.forom-headeing > span{
	display: inline-block;
	float: right;
	cursor: pointer;
}
.Reference-from label{
		color: #000;
		cursor: pointer;
		font-size: 14px;
		font-weight: 500;
}
.Reference-from input {
	width: 100%;
	height: 45px;
	padding: 0px 15px;
	margin-bottom: 20px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}
.form-check.form-group-custom {
    margin-bottom: 4px;
}
.form-group-custom input {
    width: auto;
    height: auto;
}
.Reference-from textarea {
	width: 100%;
	height: 150px;
	padding: 10px 15px;
	margin-bottom: 20px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}
.Reference-from select {
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 20px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}
.Reference-from .nice-select{
	margin-bottom: 20px;
}
.from-button {
	border-top: 1px solid #ddd;
	padding-top: 20px;
}
.nice-select {
	width: 100%;
	border: 1px solid #CCCCCC;
}
 /* End Reference-from  */



.reg-txt {
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 auto;
    font-family: cursive;
    color: #01579b;
    /* display: block; */
    display: inline-block;
}

.header-btn {
    font-size: 18px;
    text-align: center;
    padding: 20px 0px;
    margin: 0 auto;
    color: #fff;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background: #f36f20;
    transition: 0.5s;
}

.head-title {
    display: block;
    margin: 0 auto;
    display: table;
}
.reg-for{
	color: #222;
	font-size: 19px;
	font-weight: 500;
}

.m-l5-r-5{
	margin-left: 0px;
	margin-right: 0px;
}

.row.m-l5-r-5 {
    width: 100%;
}

.mt-b-10{
	margin: 20px 0px;
}
.pera-footer {
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
}

.header-btn:hover {
    color: #fff;
    background-color: #01579b;
}

.btn-next {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fd625e;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;

}
.btn-next:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.logo-top{
	display: flex;
	margin-bottom: 40px;
}
.logo-top {
    display: flex;
    margin-bottom: 40px;
    background: #f5f1f1;
}
.logo-top img{
	max-width: 270px;
	 padding: 20px 0px;
}

.logo-top img {
    max-width: 270px;
   
    margin: 0 auto;
    border-radius: 5px;
}

h3.main-lavel-title {
    font-size: 15px;
    font-weight: 600;
}
.mb-10{
	margin-bottom: 10px;
}
.mt-10{
	margin-top: 14px;
}

.col-xl-6.p-l5-r-5 {
    padding-left: 0px;

}